

<div class="container cart-container">
    <div class="cart-panel">

        <div class="row">
            <div class="col-md-6">
                <h2>Your Cart</h2>
                <hr>
        
                <div *ngIf="cartItems.length > 0; else emptyCart">
                    <div class="cart-item" *ngFor="let item of cartItems">
                        <img [src]="item.product.url" alt="{{ item.product.name }} image">
                        <div class="cart-item-details">
                            <h4>{{ item.product.description }}</h4>
                            <p>Price: ${{ getItemTotal(item, item.quantity).toFixed(2) }}</p>
                            <div class="form-group form-inline form-margin">
                                <label for="quantity-{{ item.product.id }}">Quantity:</label>
                                <input type="number" name="" id="quantity-{{ item.product.id }}" class="form-control num-input ml-2" [(ngModel)]="item.quantity" min="1">
                            </div>
                            <button class="btn btn-danger" (click)="removeFromCart(item)">Remove</button>
                        </div>
                    </div>
                </div>
        
                <div class="total-cost">Total Cost: $ {{ getCartTotal().toFixed(2) }}</div>
        
                <ng-template #emptyCart>
                    <div class="empty-cart-message">
                        <h4>Your cart is empty, please <a routerLink="/">add product</a> </h4>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-6 no-margin">
                <h3>Checkout</h3>
                <br>
                <app-checkout></app-checkout>
            </div>
          </div>
          

        
    </div>
</div>