

<div class="container cart-container">
    <div class="cart-panel">
        <h2>Your Cart</h2>
        <hr>

        <div *ngIf="cartItems.length > 0; else emptyCart">
            <div class="cart-item" *ngFor="let item of cartItems">
                <img [src]="item.product.url" alt="{{ item.product.name }} image">
                <div class="cart-item-details">
                    <h4>{{ item.product.description }}</h4>
                    <p>{{ item.product.price }}</p>
                    <div class="form-group form-inline form-margin">
                        <label for="quantity-{{ item.product.id }}">Quantity:</label>
                        <input type="number" name="" id="quantity-{{ item.product.id }}" class="form-control num-input ml-2" [(ngModel)]="item.quantity" min="1">
                    </div>
                    <button class="btn btn-danger" (click)="removeFromCart(item)">Remove</button>
                </div>
            </div>
        </div>

        <ng-template #emptyCart>
            <div class="empty-cart-message">
                <h4>Your cart is empty, please <a routerLink="/">add product</a> </h4>
            </div>
        </ng-template>
    </div>
</div>