<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">My Store</a>
      <div class=" pull-right" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a routerLink="/cart" class="nav-link">
              Cart <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
        <div class="flex-grow-1"></div>
      </div>
    </div>
  </nav>
  