<h2 [style]="">Product Catalogue</h2>
<hr>

<div class="product-list">
    <div class="product-card" *ngFor="let product of products">
        <div class="product-card-details">
            <img src="{{ product.url }}" alt="{{ product.name }}" class="product-card-image">
        
            
            <h3 class="product-card-name">{{ product.name }}</h3>
            <p class="product-card-description">{{ product.description}}</p>
            <p class="product-card-price">Price:  $ {{ product.price }}</p>

            <div>
                <label for="qty" class="quantity-label">Quantity:</label>
                <input type="number" min="1"  class="form-control  w-25 float-right mr-1 quantity-input" name="qty" #qty value="1">  
                
            </div>

            <button (click)="addToCart(product, qty.value)" class="add-to-cart">Add to cart</button>
            
            
            

        </div>

    </div>
</div>